@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
  .gallery-imgs {
    height: 1025px;
  }
}

@media screen and (max-width: 1200px) {
  .moon,
  .sun {
    margin: 0 10px;
  }
  .container {
    max-width: 960px;
  }
  .right .bars {
    display: inline-block;
    margin-inline: 5px;
  }
  .nav-content ul {
    transform: translatex(100%);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--forth-color);
    width: 30%;
    flex-direction: column;
    height: 100%;
    margin-top: 50px;
    padding-inline: 20px;
  }
  .nav-content ul .xmark {
    display: inline-block;
  }
  .nav-content .right {
    margin-left: auto;
  }
  .nav-content ul li {
    margin: 10px 0;
  }
  .gallery-imgs {
    height: 860px;
  }
  .footer {
    flex-wrap: wrap;
    height: 590px;
  }
  .footer .right-footer {
    width: 50%;
  }
  .footer .left-footer {
    width: 50%;
  }
  .footer .center-footer {
    order: 1;
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .header-content {
    flex-wrap: wrap;
    height: 150vh;
  }
  .left-main {
    width: 100%;
    margin-top: 50px;
  }
  .right-main {
    width: 75%;
    margin: auto;
  }
  .container {
    max-width: 720px;
  }
  .chefs .chef-card {
    width: calc((100% - 20px) / 2);
  }
  .gallery-imgs {
    height: 1430px;
  }
  .gallery-imgs picture {
    width: calc(calc(100% - 20px) / 2);
  }
  .Pizza {
    order: 1;
  }
  .Burger {
    order: 2;
  }
  .Levitation-pizza {
    order: 3;
  }
  .Frittata {
    order: 4;
  }
  .steaks {
    order: 5;
  }
  .Crispy {
    order: 6;
  }
  .Lyulya-kebab {
    order: 6;
  }
}

@media screen and (max-width: 768px) {
  .header-content {
    height: 150vh;
  }
  .right-main {
    width: 100%;
    margin-top: 50px;
  }
  .container {
    max-width: 540px;
  }
  .chefs .chef-card {
    width: 100%;
    margin-bottom: 30px;
  }
  .gallery-imgs {
    height: auto;
  }
  .gallery-imgs picture {
    width: 100%;
  }
}
.address,
.email,
.phone,
.open-hours {
  flex-direction: column;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .container {
    padding-inline: 15px;
  }
}
